/* Base styles */
body {
  margin: 0; /* Remove default margin from the body */
  overflow: hidden; /* Prevent scrolling if the content overflows */
  background-image: url('bg.png'), url('/blink.png'), url('door.png'), url('doorOpen.png'), url('doorOpenShadow.png'), url('handle.png'), url('handleShadow.png'), url('vault.jpg'), url('vaultOpen.jpg');
  background-size: cover, contain, cover, cover, cover, contain, contain, cover, cover; /* Different sizes for different backgrounds */
  background-repeat: no-repeat; /* Prevent background images from repeating */
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Allow absolute positioning of children */
}

/* Common styles for all divs inside the game container */
#game-container div {
  display: flex; /* Make each div a flexbox */
  justify-content: center; /* Center inner content horizontally */
  align-items: center; /* Center inner content vertically */
  margin-bottom: 20px; /* Add some space between divs */
}

/* Blink background */
#blink {
  background-image: url('/blink.png');
  background-size: contain;
  width: 10vw; /* Use viewport width for responsiveness */
  height: 10vw; /* Use viewport width for responsiveness */
}

/* Door styling */
#door,
#door-open,
#door-open-shadow {
  background-size: cover;
  width: 25vw; /* Use viewport width for responsiveness */
  height: 40vw; /* Use viewport width for responsiveness */
}

/* Handle styling */
#handle,
#handle-shadow {
  background-size: contain;
  width: 25vw; /* Use viewport width for responsiveness */
  height: 12vw; /* Use viewport width for responsiveness */
}

/* Vault preview styling */
#vault,
#vault-open {
  background-size: cover;
  width: 25vw; /* Use viewport width for responsiveness */
  height: 25vw; /* Use viewport width for responsiveness */
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 600px) {
  canvas {
    width: 90vw; /* Adjust canvas width on smaller screens */
    height: 90vw; /* Adjust canvas height on smaller screens */
  }

  #game-container div {
    flex-direction: column; /* Stack elements vertically on small screens */
  }
  
  #door,
  #door-open,
  #door-open-shadow,
  #handle,
  #handle-shadow,
  #vault,
  #vault-open,
  #blink {
    width: 80vw; /* Adjust all elements to take more width on small screens */
    height: auto; /* Let height adjust automatically */
  }
}
