/* Base styles */
body {
  margin: 0; /* Remove default margin from the body */
  overflow: hidden; /* Prevent scrolling if the content overflows */
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('bg.png');
  background-size: cover;
}

canvas {
  border: 2px solid black; /* Example border styling */
  width: 400px; /* Set equal width */
  height: 400px; /* Set equal height */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the content fits within the circle */
  display: block; /* Ensure it behaves as a block-level element */
}

/* Common styles for all divs inside the game container */
#game-container div {
  display: flex; /* Make each div a flexbox */
  justify-content: center; /* Center inner content horizontally */
  align-items: center; /* Center inner content vertically */
  margin-bottom: 20px; /* Add some space between divs */
}

/* Blink background */
#blink {
  background-image: url('/blink.png');
  background-size: contain;
  width: 100px;
  height: 100px;
}

/* Door styling */
#door {
  background-image: url('door.png');
  background-size: cover;
  width: 200px;
  height: 300px;
}

/* Door open styling */
#door-open {
  background-image: url('doorOpen.png');
  background-size: cover;
  width: 200px;
  height: 300px;
}

/* Door open shadow styling */
#door-open-shadow {
  background-image: url('doorOpenShadow.png');
  background-size: cover;
  width: 200px;
  height: 300px;
}

/* Handle styling */
#handle {
  background-image: url('handle.png');
  background-size: contain;
  width: 200px;
  height: 100px;
}

/* Handle shadow styling */
#handle-shadow {
  background-image: url('handleShadow.png');
  background-size: contain;
  width: 200px;
  height: 100px;
}

/* Vault preview styling */
#vault {
  background-image: url('vault.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
}

/* Vault open preview styling */
#vault-open {
  background-image: url('vaultOpen.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
}
