const path = require('path');

module.exports = {
  mode: 'development',
  entry: './src/index.ts', // Update with your entry point
  output: {
    filename: 'pixi.js',
    path: path.resolve(__dirname, 'dist'),
  },
  resolve: {
    extensions: ['.ts', '.js', '.json', '.wasm'], // Ensure .wasm files are resolved
  },
  module: {
    rules: [
      {
        test: /\.ts$/,
        use: 'ts-loader',
        exclude: /node_modules/,
      },
      {
        test: /\.wasm$/, // Rule for loading WebAssembly
        type: 'webassembly/async',
      },
    ],
  },
  experiments: {
    asyncWebAssembly: true, // Enables WebAssembly support
  },
  devServer: {
    static: path.join(__dirname, 'dist'),
    compress: true,
    port: 9000,
  },
};
